/* navbar */
body {
    padding: 1.5rem;
    margin: 0;
}
h1{
    color: #E50914;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif; 
    margin: 0;
}

header {
    row-gap: 3em;     
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: grid; /* Grid düzeni */
    grid-auto-flow: column; /* Sütun düzenine geçmesini önlemek için */
    gap: 20px; /* Aralık değeri */
}
header nav a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: rgb(58, 58, 58);
}
header i {
    position: absolute;
    margin-left: -7rem;
    margin-top: -1.3rem;
}
header img {
    border-radius: 100%;
    position: absolute;
    margin-left: -4rem;
    margin-top: -1.9rem;
}
/* search bar */
 
.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}
.search__input {
    position: absolute;
    margin-left: -22rem;
    margin-top: -1.5rem;
    width: -10%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease;
    font-size: 14px;
    line-height: 18px;
    transform-origin: left;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23e50914' d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position:95% ;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.search__input::placeholder {
        color: rgba(197, 28, 28, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

.search__input:hover,
    .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #E50914;
        border-radius: 0;
        background-position: 100% center;
        transform-origin: left;
    }

    main {

        aspect-ratio: 5 /2 ;
        border: 1px solid  black;
        margin: 2rem auto;
        padding: 1rem;
        display: flex;
        align-items: center;
    }  
    .movie-info {
        font-family: "Montserrat", sans-serif;
        display: flex;
        gap: .50rem;
    }   
    
    

   .hero { 
    width:95%;position:relative;
    margin-top: 5rem;  
    box-shadow: 0px 9px 30px rgb(126, 0, 0);     background-image: url(assets/3hCr.gif); 
background-repeat: no-repeat;
background-size: cover;
 

        
    } 
.hero h2 { 
    font-size: 3rem ;
    color: #E50914; 
    text-transform: uppercase; 
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
}
.movie-details span {
    color: #E50914;
    font-family: "Montserrat", sans-serif; 
    font-size: 1.1rem;  
}
.movie-write{
    font-family: "Montserrat", sans-serif;
    width: 25rem;  
}
.movie-details p{
    font-family: "Montserrat", sans-serif; 
    color: #fff ;
}
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#ff0a0a, #8a5fff 50%,#ff0000);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
  }
  
  .button-64 span {
    background-color: rgb(0, 0, 0);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }